[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==3.5.4"
sphinx-rtd-theme = "*"
inflector = "*"

[dev-packages]
pyyaml = "*"

[requires]
python_version = "3.8"
